<section class="container">
  <h2>Créer un collègue en code driven</h2>
  <form class="container" [formGroup]="vForm" (ngSubmit)="addColleague()">
    <p>
      <label for="pseudo">Pseudo : </label>
      <input type="text" name="pseudo" id="pseudo" formControlName="pseudo">
    </p>
    <p>
      <label for="last">Nom : </label>
      <input type="text" name="last" id="last" formControlName="last">
    </p>
    <p>
      <label for="first">Prénom : </label>
      <input type="text" name="first" id="first" formControlName="first">
    </p>
    <p>
      <label for="photo">URL de photo : </label>
      <input type="url" name="photo" id="photo" formControlName="photo">
    </p>
    <button type="submit" [disabled]="pseudoErr || vForm.pristine || vForm.invalid">Ajouter</button>
  </form>
</section>
